/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}



body {
    background-color: #4CAF50;
	opacity: 0.8;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#take-picture, #btnMapa, #currentImageDelete, #btnBuscarEndereco {
    background-color: #87CEFA;
}

#take-picture:hover, #btnMapa:hover, #currentImageDelete:hover, #btnBuscarEndereco:hover {
    background-color: #00FA9A;
}

#take-picture:active, #btnMapa:active, #currentImageDelete:active, #btnBuscarEndereco:active {
    background-color: #FFB6C1;
}

#location, #takePicture {
    text-align: center;
}

#takePicture {
    font-family: Comic Sans MS;
	font-weight: bold;
}

#location {
	font-style: italic;
}

#currentImagePath1, #currentImageDate1, #currentImageLatLong1 {
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#currentImagePath, #currentImageDate, #currentImageLatLong {
	word-wrap:  break-word;
	margin-left: 2%;
	font-style: italic;
	margin-top: 0px;
	padding-top: 0px;
}